body {
  background-color: #333;
  color: #fff;
  font-family: sans, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
main {
  margin: 40px auto;
  max-width: 960px;
  padding: 2rem;
  background: #ededed;
  border-radius: 8px;
  color: #333
}
h1 {
  margin: 0;
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
.text-error {
  color: hsl(350, 80%, 42%);
}
.error {
  background-color: crimson;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}